@font-face {
	font-family: "Wisp";
	src: url("assets/fonts/Wisp.woff2") format("woff2");
}
@font-face {
	font-family: "Savate";
	src: url("assets/fonts/savate-regular.woff2") format("woff2");
	src: url("assets/fonts/savate-italique.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--clr-bg: #140f1f;
	--clr-bg2: #1b1528;
	--clr-text: #e9e2d0;
	--clr-primary: #28adc8;
	--clr-input: #13162a;
	--clr-bg-card: hsl(259, 35%, 9%, 0.6);
	--clr-linear-container: #8368be, #457474, #10c6eb;
	--clr-linear-effect: #760a71, #d41487, #9675cc, #4e268f;

	/*============================================================================= */
	/* Font */
	/*============================================================================= */

	--ff-wisp: "Wisp", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;

	--ff-savate: "Savate", system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;

	--fsm-txt: 18px;
	--fsd-txt: 20px;
	--fsm-h1: 45px;
	--fsd-h1: 60px;
	--fsm-h2: 38px;
	--fsd-h2: 45px;
	--fsm-h3: 26px;
	--fsd-h3: 30px;
	--fsm-h4: 16px;
	--fsd-h4: 20px;
	--fsm-link: 30px;
	--fsd-link: 22px;
	--fsm-btn: 14px;
	--fsd-btn: 16px;
	--fsm-note: 10px;
	--fsd-note: 12px;
}

#__nuxt {
	min-height: 100vh;

	font-family: var(--ff-savate);
	font-size: var(--fsm-txt);
	color: var(--clr-text);
	letter-spacing: 1.5px;

	background-color: var(--clr-bg);
	overflow-y: hidden;
}

h1,
h2 {
	font-family: var(--ff-wisp);
}

h1,
h2,
h3,
h4 {
	font-weight: bold;
	line-height: 1.1;
	letter-spacing: 0.5px;
}

h1 {
	font-size: var(--fsm-h1);
}

h2 {
	font-size: var(--fsm-h2);
}

h3 {
	font-size: var(--fsm-h3);
}

h4 {
	font-size: var(--fsm-h4);
}

img {
	width: 100%;
	/* height: 100%; */
	object-fit: cover;
}

ul,
li {
	list-style: none;
}

@media (min-width: 768px) {
	#__nuxt {
		font-size: var(--fsd-txt);
	}

	h1 {
		font-size: var(--fsd-h1);
	}

	h2 {
		font-size: var(--fsd-h2);
	}

	h3 {
		font-size: var(--fsd-h3);
	}

	h4 {
		font-size: var(--fsd-h4);
	}
}

@layer components {
	.wrapper {
		@apply max-w-[1065px] w-full mx-auto px-5;
	}
}
